<div class="btn-group btn-group-justified message-header" role="group" aria-label="...">
	<%= link_to 'New Message', messages_new_path, class: 'btn btn-link new-message' %>
	<%= link_to 'Add Friend', friend_index_path, class: 'btn btn-link add-friend' %>
	<%= link_to 'Sent Messages', messages_sent_path, class: 'btn btn-link sent-message' %>
</div>