<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New message</h1>
    <p>
      <%= @message.content %>
    </p>
    <p>
      Details: <%= @url_view %>.
    </p>
    <p>
      To reply: <%= @url %>.
    </p>
  </body>
</html>