.message-container {
    margin-top: 20px;

    .unread {
        border: 1px solid #d9534f;
    }

    .message-image {
        width: 100%;
        border: 1px solid #ccc;
    }
}

.message-header {
    .btn {
        background-color: #0275d8;
        border-radius: 10px;
        color: #fff;

        &:hover {
            background-color: #0275d8;
            border-radius: 10px;
            color: #AAA;

            text-decoration: none;
        }

        &.active {
            background-color: #c33;
        }
    }
}

.pagination {
    position: fixed;
    bottom: 53px;
    left: 0;
    right: 0;
    z-index: 1;
}

.messages {

    .content {
        overflow-y: scroll;
    }
}